{{!-- ./views/index.handlebars --}}
<div class="container mt-5 text-center">
  {{!-- sorting drop down --}}
  <div class="d-flex justify-content-center">
    <form action="/category" method="POST" class="m-3">
      <select name="sort" id="sort" oninput="form.submit()" class="btn btn-secondary dropdown-toggle">
        <option disabled selected>Sort</option>
        {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        {{!-- <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option> --}}
      </select>
    </form>
    <a href="/" class="btn btn-outline-danger m-3">Clean Sort</a>
  </div>
  
  <div>
    <p>Total Amount:<b class="fs-1 text-info">{{ totalAmount }} </b></p>
  </div>
  <!-- record list -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <ul class="list-group-item">
          {{#each records}}
          <li class="list-group-item">
            <div class="row align-items-center">
              <div class="col-auto me-auto">
                <i class="fa-solid fa-{{this.categoryId.iconType}}"></i>
                <h4 style="display: inline; vertical-align:middle;"> {{this.name}} </h4>
                <small class="date text-muted"> {{ dateHandler this.date}} </small>
              </div>
              <div class="col-auto">
                <p>{{this.amount}}</p>
              </div>
              <div class="col-auto">
                <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
                <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display:inline;">
                  <button class="btn btn-danger" type="submit">delete</button>
                </form>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
        <a href="/records/new"> <button class="btn btn-info mb-3">新增支出</button> </a>
      </div>
    </div>
  </div>
</div>